*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Roboto", sans-serif;
}
body {
    font-family:  Roboto, sans-serif; 
    background-color: #d9dedc;
    margin: 0;
    
}

.main-sobre {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.box-sobre {
    background-color: #ffffff; 
    border: 2px solid  rgb(99, 98, 98);
    border-radius: 8px; 
    width: 80%; 
    max-width: 600px; 
    margin: 10px 0; 
    padding: 20px; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
    text-align: center; 
}

.sobre-titulo {
    color: rgb(99, 98, 98);
    margin: 10px 0;
}
.sobre-titulo:hover{
    color: rgb(159, 157, 157); 
}

img{
    width: 200px;
    margin-bottom: 8px; 
    border-radius: 50%;
}

h3 {
    margin: 15px 0; 
    color: #333; 
}
