@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Roboto", sans-serif;
}
/*Corpo da Página*/
img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
body{
    background-color: #AEB6BD;
   width: 100%;  
   height: 100%;
}
/*Cabeçalho da Página*/
.header-bacground::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url(/img/bg2.jpeg);
    background-repeat:no-repeat;
    opacity: 0.5;
    z-index: -1;
}
/*Menu da Página*/
nav{
    display: flex; /*Deixa os itens do menu um do lado do outro*/    
    padding-top: 25px;
    justify-content: space-between;
    overflow: auto;
}
nav ul{
    display: flex;
    align-items: center;
}
nav ul a{
    color: rgb(99, 98, 98); 
    margin: 0 20px; 
    font-size: 16px; 
    display: block;
}
nav ul a::after{
    content: "";
    background-color:  rgb(99, 98, 98);
    height: 4px;
    width: 0%;
    display: block;
    transition: 0.3s;
    margin: auto;
}
nav ul a:hover::after{
    width: 100%;
} 
.container{
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 5%;
}
section, footer{
    padding: 20px 0;
}
p{
    color: rgb(99, 98, 98);
    padding: 10px; 
    font-size: 18px;
    font-weight: lighter;
    font-weight: bold;
}
.botton {
    background-color: #40685a;
    color: white;
    padding: 15px 20px;
    border-radius: 10px;
    display: inline-block;
    transition: 0.5s;
    animation: pulse 2s infinite;
    cursor: pointer;
  }
  .botton:hover {
    background-color: #04b1d0;
  }
  @keyframes pulse {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.1);
    }
    100% {
      transform: scale(1);
    }
  }
.banner{
    display: flex;
    justify-content: center;
}
.banner .text_banner{
    margin: 150px;
    text-align: center;
    padding: 0 90px;
}
.banner .text_banner h1{
    font-size: 45px;
    color: rgb(99, 98, 98);;
}
/* Estilo do botão de abrir player */
#audio-container {
    display: none;
    margin-top: 20px;
}
#close-button {
    margin-left: 3px;
}
/* Estilo do texto do assunto do podcast */
#podcastAssunto {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 3px;
}

.sos-button {
  margin-top: 10px;
  padding: 5px 10px;
  background-color: #FF4C4C;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 25px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.sos-button:hover {
  background-color: #ff3333;
}
/* Menu Lateral */

.side-menu {
    position: fixed;
    top: 0;
    width: 220px; 
    height: 100%;
    background-color: #33333348;
    color: #fff;
    padding:0; 
    overflow-y: auto;
    box-sizing: border-box;
  }
  
  /* Estilo para o título do menu */
  .menu-title {
    margin: 0px;
    font-size: 1.5em;
    font-weight: bold;
    color: #40685a; 
    text-align: center;
    padding-bottom: 5px; 
   
  }
  
  /* Lista de links do menu */
  .side-menu nav ul {
    list-style: none; 
    padding: 0;
    margin-top: 30px; 
    display: flex;
    flex-direction: column; 
    text-align: left;
  }
  
  .side-menu nav ul li {
    margin-bottom: 30px; 
  }
  
  .side-menu nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
  }
  
  .side-menu nav ul li a:hover {
    color: #40685a; 
  }
  
  /* Ajuste do conteúdo principal ao lado do menu */
  .container {
    margin-left: 220px;
    padding: 20px;
  }
  
  